body{
	background-color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/*text-align: left;*/
	padding: 1px;
}
#content{
	/*border: 2px solid skyblue;*/
	position: relative;
	padding-left: 20px;
	width: 60%
	/*margin-left: 2px;*/
}

#sidebar{
	background-color: lightgoldenrodyellow;
	color: lightslategray;
	position: fixed;
	left: 75%;
	bottom: 0%;
	width: 22%;
	height: 100%;
	z-index: -1;
	padding-left: 20px;
	/*border: 2px solid orange;*/

}

.date{
	font-weight: normal;
	color: grey;
	font-size: 0.75rem;
}

h1{
	border-bottom: 3px solid black;
	width:  100%;
	color: red;
	font-size: 5rem;
	text-align: left;
}

h2{
	font-size: 1.5rem;
	color:  darkorange;
}

a:link{
	color: orangered;
}

a:visited{
	color: orangered;
}